
<div id="showeventModal" class="myModalMain" tabindex="10" aria-hidden="true">
  <div class="row">

    <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 p-0 text-center">
      <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>

  </div>

  <hr>

  <div class="container pl-5">
    <div class="row form-group">
      ユーザー：
      <span id="user-content" class="userContent">
      </span>
    </div>

    <div class="row form-group">
      <div class="col-4 col-sm-4 eventContent">
        日付：
        <span id="date-content" class="font-bolder"></span>
      </div>
    </div>

    <div class="row form-group">
      <div  class="col-3 col-sm-3 eventContent">
        開始：
        <span id="starttime-content" class="font-bolder"></span>
      </div>

      <div class="col-3 col-sm-3 eventContent">
        終了：
        <span id="endtime-content" class="font-bolder"></span>
      </div>
    </div>
  </div>

</div>
